# Name: SCF ImgTools Image Analysis Toolbox
# Author: Robert Haase, Scientific Computing Facility, MPI CBG, rhaase@mpi-cbg.de

SCF>Visualisation,         "Auto display range",                                                          de.mpicbg.scf.fijiplugins.ui.view.AutoDisplayRangePlugin

SCF>Labeling,         "AreaMaxima local maximum detection (2D, 3D)",                              de.mpicbg.scf.fijiplugins.ui.labelmap.AreaMaximaLabelingPlugin
SCF>Labeling,         "HMaxima local maximum detection (2D, 3D)",                                 de.mpicbg.scf.fijiplugins.ui.labelmap.HMaximaLabelingPlugin
SCF>Labeling,         "Local maxima to label map (2D, 3D)",                                       de.mpicbg.scf.fijiplugins.ui.labelmap.LocalMaximaLabelingPlugin
SCF>Labeling,         "Threshold to label map (2D, 3D)",                                          de.mpicbg.scf.fijiplugins.ui.labelmap.ThresholdLabelingPlugin
SCF>Labeling,         "Difference of Gaussian based Detection (2D, 3D)",                          de.mpicbg.scf.fijiplugins.ui.labelmap.DifferenceOfGaussianBasedLabelingPlugin
# SCF>Labeling,         "Multi-scale maxima (2D, 3D)",                                            de.mpicbg.scf.fijiplugins.ui.labelmap.MultiScaleMaximaPlugin
SCF>Labeling,         "Watershed with seed points (2D, 3D)",                                      de.mpicbg.scf.fijiplugins.ui.labelmap.WatershedLabelingPlugin
SCF>Labeling,         "-",                                                                        null
SCF>Labeling,         "Constraint labels in a label map (2D, 3D)",                                de.mpicbg.scf.fijiplugins.ui.labelmap.ConstraintLabelingPlugin
SCF>Labeling,         "Apply binary opening to a label map (2D, 3D)",                             de.mpicbg.scf.fijiplugins.ui.labelmap.LabelmapOpeningPlugin
SCF>Labeling,         "-",                                                                        null
SCF>Labeling,         "Label analyser (2D, 3D)",                                                  de.mpicbg.scf.fijiplugins.ui.measurement.LabelAnalyserPlugin

SCF>Segmentation,      "Interactive wand tool (2D)",                                              de.mpicbg.scf.fijiplugins.ui.roi.InteractiveWandPluginTool
SCF>Segmentation,      "Brush tool (2D)",                                                         de.mpicbg.scf.fijiplugins.ui.roi.BrushPluginTool
SCF>Segmentation,      "LabelMap to ROI Manager (2D)",                                            de.mpicbg.scf.fijiplugins.ui.roi.LabelMapToRoiManagerPlugin
SCF>Segmentation,      "ROI Manager to LabelMap(2D)",                                            de.mpicbg.scf.fijiplugins.ui.labelmap.RoiManagerToLabelMapPlugin
SCF>Segmentation,      "Points to LabelMap (2D)",                                                 de.mpicbg.scf.fijiplugins.ui.labelmap.PointsToLabelmapPlugin

SCF>Experimental>Utilities,         "Debug Options_",                                                           de.mpicbg.scf.imgtools.ui.DebugHelper
SCF>Experimental>Utilities,         "SCF FIJI Plugins Version: 1.2.0",                                                          null

SCF>Experimental>Labeling,         "Ops Label Analyser (2D, 3D) *",                                                        de.mpicbg.scf.labelhandling.fijiplugins.OpsLabelAnalyserPlugin
SCF>Experimental>Segmentation, "Particle Analyser_", de.mpicbg.scf.labelhandling.fijiplugins.ParticleAnalyserIJ1Plugin